/* General */

* {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    print-color-adjust: exact;
}
.grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 50px;
    display: grid;
}

/* Títulos */

.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16.5pt;
}
.experience-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #3142db;
}
.place {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.title {
    color: #3142db;
    font-size: 35pt;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    /* grid-column: 3 / 4; */
    margin-top: 0px;
}

/* Párrafos */

.about {
    color: #555e70;
}
.second-column {
    grid-column: 3 / 4;
}
.main {
    display: flex;
    align-items: center;
}
.line {
    margin: 20px;
    margin-right: 50px;
    margin-left: 0px;
}

/* Listas */

.skills {
    color: #555e70;
}
li {
    list-style: none;
}
ul {
    padding-left: 0;
}
.display1 {
    display: flex;
    align-items: center;
    padding-top: 10px; 
    padding-bottom: 10px;
}

/* Imágenes */

.yo {
    height: 150px;
    width: auto;
    grid-column: 2 / 4; 
    /* no tiene ningún efecto porq el elemento padre no tiene la grid. */
    margin: auto;
    margin-left: 0px;
    margin-right: 35px;
}
.icono {
    height: 35px;
    width: auto;
    margin-left: 0px;
    margin-right: 15px;
}